@media all and (max-width: 1600px) {
	.catalogies__item {
		width: 31%;
	}
}

@media all and (max-width: 1400px) {
	.partners-list {
		width: 96%;
		margin: auto;
	}

	.sertificate {
		width: 33%;
	}
	.gallery__item {
		height: 250px;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 1200px) {

	.contacts__info, .map {
		width: 100%;
		text-align: center;
	}

	.map {
		height: 300px;
		margin-top: 30px;
	}

	.sertificate {
		height: 300px;
	}
	.gallery__item {
		height: 200px;
	}
}

@media all and (max-width: 992px) {
	body {
		overflow-x: hidden;
	}

	.hamburger {
		display: block;
	}

	.partners-list {
		width: 96%;
		margin: auto;
	}

	.header {
		transition: all .5s;
		transform: translateX(-100%);
		width: 320px;
		padding: 20px 35px;

		img {
			max-width: 100%;
		}
	}

	.main, .footer {
		margin-left: 0;
	}

	.banner {
    	height: calc(~"100vh - 100px");
	}

	.banner_min {
		margin-bottom: 50px;
	}

}

@media all and (max-width: 768px) {
	.gallery__item {
		height: 180px;
	}
	.catalogies__item {
		width: 48%;
	}
}

@media all and (max-width: 600px) {
	.sertificate {
		width: 50%;
	}
	.gallery {
		flex-wrap: wrap;
	}
	.gallery__item {
		width: 48% ;

	}

	.new {
		
		&__img {
			width: 100%;
			margin-bottom: 20px;
		}

		&__header {
			flex-wrap: wrap;
		

			.h3 {
				margin-bottom: 20px;
			}

			span {
				font-size: .7em;
			}
		}

		&__inner {
			width: 100%;
		}
	}

}

@media all and (max-width: 480px) {
	.h3 {
    	font-size: 1.275rem;
	}

	.h1 {
    	font-size: 3.0rem;
	}
	
	.sertificate {
    	height: 190px;
	}

	.about-us {
		.row {
			width: 100%;
			margin: auto;
		}
	}
	
	.footer .wrapper {
		font-size: .6rem;
	}

	.contacts__title {
		margin-top: 30px;
	}

	.contacts .title {
		margin-bottom: 40px;
	}

	.top-line {
		margin: 15px 0;
		font-size: .7rem;
	}

	.gallery__item {
		height: 120px;
		margin: 5px auto;
	}
	.catalogies__item {
		width: 100%;
	}
}