section.contacts
		h3.h3.title Свяжитесь с нами
		.row
			.contacts__info
				h3.h3.title Контактная информация
				address.vcard 
					p.contacts__title Адрес:
					span.locality г.Брест, 
					span.street-address ул. Пионерская, 35
					
					p.contacts__title Время работы:
					p пн - пт: 8.00 - 18.00
					p cб: 9.00 - 17.00
					p вс: 9.00 - 16.00


					p.contacts__title Телефоны:
					a(href="tel:8 (0162) 46 04 91").tel.link 
						span.type тел/факс: 
						span.value 8 (0162) 46 04 91
					a(href="tel:8 (0162) 46 04 91").tel.link 
						span.type тел/факс: 
						span.value 8 (0162) 44 33 44
					a(href="tel:8 (044) 544 33 44").tel.link 
						b velcom: 8 (044) 544 33 44
					a(href="tel:").tel.link 
						b мтс: 8 (029) 836 33 44

					p.contacts__title email:
					a(href="mailto:vds@tut.by").email.link vds@tut.by
			.contacts__map.map
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.7245590503!2d23.717840716156445!3d52.102944279737486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210eab1eab062f%3A0x40075539f4fa272b!2z0YPQuy4g0J_QuNC-0L3QtdGA0YHQutCw0Y8gMzUsINCR0YDQtdGB0YIsINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1503474407423" frameborder="0" style="border:0" allowfullscreen></iframe>