//===== header =====

header.header
	.logo
		a(href="index.html").logo__img
			img(src="img/logo.png", alt="ООО ВДС")
		p.p Общество с ограниченной ответственностью
	
	nav.menu
		a(href="index.html").menu__link.menu__link_active.link Главная
		a(href="gallery.html").menu__link.link Галерея
		a(href="catalogies.html").menu__link.link Продукция
		a(href="news.html").menu__link.link Новости
		a(href="interest.html").menu__link.link Это интересно
		a(href="reviews.html").menu__link.link Отзывы

	.work-time
		img(src="img/office.png", alt="ООО ВДС")
		p.contacts__title Время работы:
		p пн - пт: 9.00 - 18.00
		p cб: 9.00 - 17.00
		p вс: 9.00 - 16.00

	.phones
		//- a(href="tel: 8 (0162) 46 04 91").phones__link.icon-phone.link  8 (0162) 46 04 91
		//- a(href="tel: 8 (0162) 44 33 44").phones__link.icon-phone.link  8 (0162) 44 33 44
		//- a(href="tel: 8 (044) 544 33 44").phones__link.icon-mobile.link  8 (044) 544 33 44
		//- a(href="tel: 8 (029) 836 33 44").phones__link.icon-mobile.link  8 (029) 836 33 44
		p.p УНП 200049845
