extends layout/main
		
block title
	|Полезная информация

block content

	//===== banner =====

	.banner.banner_min.catalogies-banner
		h1.h2 Полезная информация
		h4.h4 Это интересно знать

	//===== gallery =====

	.wrapper
		.catalogies
			a(href="http://forum220.ru/site-img/table-calculating-cross-section.jpg").catalogies__item.link
				.catalogies__img(style="background-image: url('img/cabel.png')")
				.catalogies__name Сечения и нагрузки кабеля
			a(href="http://www.a-kabel.ru/kalkulyator-secheniya/").catalogies__item.link
				.catalogies__img(style="background-image: url('img/svet.png')")
				.catalogies__name Выбор сечения провода по нагреву и потерям напряжения
			a(href="http://miroshko.kiev.ua/wiresel/wiresel_mini.html").catalogies__item.link
				.catalogies__img(style="background-image: url('img/lampy.png')")
				.catalogies__name Рассчитать сечение проводов по току или мощности
			a(href="http://vds.my1.ru/raschet_sechenija_kabelja.zip").catalogies__item.link
				.catalogies__img(style="background-image: url('img/schit.png')")
				.catalogies__name Скачать программу - Расчет сечения кабеля
			

		//===== contacts =====

		include section/contacts
