extends layout/main
		
block title
	|Категория продукта

block content

	//===== gallery =====

	.wrapper
		.catalogies
			a(href="product.html").catalogies__item.link
				.catalogies__img(style="background-image: url('img/cabel.png')")
				.catalogies__name Кабеля АВВГ-П 
			a(href="product.html").catalogies__item.link
				.catalogies__img(style="background-image: url('img/svet.png')")
				.catalogies__name Кабеля СИП-1
			

		//===== contacts =====

		include section/contacts
