extends layout/main
		
block title
	|Категория продукта

block content

	//===== gallery =====

	.wrapper
		p АВВГ-П 2х2.5 н.660В     
		p АВВГ-П 2х4.0 н.660В     
		p АВВГ-П 2х6.0 н.660В     
		p АВВГ-П 2х10.0 н.660В    
		p АВВГ-П 2х16.0 н.660В    
		p АВВГ-3х2.5 н.660В       
		p АВВГ-П 3х2.5            
		p АВВГ-3х4.0 н.660В       
		p АВВГ-П 3х4.0            
		p АВВГ-3х6.0 н.660В       
		p АВВГ-П 3х6.0            
		p АВВГ-П 3х10.0           
		p АВВГ-3х10.0 н.660В      
		p АВВГ-П 3х16.0           
		p АВВГ-3х25.0 н.660В      
		p АВВГ-4х2.5 н.660В       
		p АВВГ-4х4.0 н.660В       
		p АВВГ-4х6.0 н.660В       
		p АВВГ-4х10.0 н.660В      
		p АВВГ-4х16.0 н.600В      
		p АВВГ-4х25.0 н.660В      
		p АВВГ-4х35.0 н.660В      
		p АВВГ-5х2.5 н.660В       
		p АВВГ-5х4.0 н.660В       
		p АВВГ-5х6.0 н.660В       
		p АВВГ-5х10.0 н.660В      
		p АВВГ-5х16.0 н.660В      
		p АВВГ-5х25.0 н.660В   
			

		//===== contacts =====

		include section/contacts
